[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
isort = "*"
black = "*"

[packages]
bleach = "~=3.2.1"
Django = "~=3.1.4"
gunicorn = "~=20.0.4"
Markdown = "~=3.3.3"
psycopg2 = "~=2.8.6"
mozilla_django_oidc = "~=1.2.4"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
