{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ title }}{% endblock %} | Hummus</title>
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/hummus.css' %}">
    {% block extra_css %}{% endblock %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{% url 'home' %}">Hummus</a></h1>
        {% block nav %}
          <nav>
            <ul>
              <li><a href="{% url 'forum' %}">Forum</a></li>
              <li><a href="{% url "photos" %}">Photos</a></li>
              <li>
                {% if user.is_authenticated %}
                  {% if settings.USE_OIDC %}
                    <form action="{% url "oidc_logout" %}" method="post">
                      {% csrf_token %}
                      <input type="submit" value="Log out">
                    </form>
                  {% else %}
                    <a href="{% url "logout" %}">Log out</a>
                  {% endif %}
                {% else %}
                  {% if settings.USE_OIDC %}
                    <a href="{% url "oidc_authentication_init" %}">Log in</a>
                  {% else %}
                    <a href="{% url "login" %}">Log in</a>
                  {% endif %}
                {% endif %}
              </li>
            </ul>
          </nav>
        {% endblock %}
      </header>
      <main>
        {% block content %}{% endblock %}
      </main>
    </div>
{% block scripts %}
{% endblock %}
  </body>
</html>
