{% extends 'forum/base.html' %}

{% block content %}
  <div class="post">
    <h2>{{ post.title }}</h2>
    {% include 'forum/post_info.html' %}
    <div class="post-content">
      {{ post.content_as_markdown|safe }}
    </div>
  </div>
  <div class="comments">
    <div class="forum-toolbar">
      <h2 class="forum-toolbar-text">
        Comments ({{ post.comment_set.all.count }})
      </h2>
      <a class="button" href="{% url 'new-comment' post.pk %}">New comment</a>
    </div>
    {% include 'forum/comment_list.html' with comment_list=post.toplevel_comments depth=1 %}
  </div>
{% endblock %}
